<template>
    <div>
      <div class="material-icons-round">
        <slot></slot>
      </div>
    </div>
  </template>
  
  <script>
  export default {};
  </script>
  
  <style lang="scss" scoped>
  .material-icons-round {
    font-size: 1.2rem;
    color:rgb(0, 0, 0);
  }
  </style>