@import "../global.scss";
.button{
    font-family:"Montserrat";
    font-weight: 600;
    width:290px;
    height:56px;
    border-radius: 50px;
    border:none;
    box-shadow:0px 4px 10px rgba(0,0,0,0.35);
    background: linear-gradient(180deg, #DEE34B 0%, #D9EF0C 35.94%, #87A30D 100%)
}