$primary-color:#000000;
$secondary-color:#FFFFFF;
$accent-color:#d9ef0c;
p{
    color:$secondary-color;
    margin:0;
    padding:0;
}
h1{
    font-size:96px;
    font-weight: 700;
    color:$secondary-color;
    margin:0;
    padding:0;
}
h2{
    font-size:60px;
    font-weight: 700;
    color:$secondary-color;
}
h4{
    font-size:24px;
    font-weight: 700;
    color:$secondary-color;
    margin:0;
    padding:0;
}
input{
    padding:1rem;
    padding-left:0;
    background-color: transparent;
    color:$secondary-color;
    border:none;
    border-bottom: 1px solid $secondary-color;
    outline:none;
    display:flex;
    flex:1;
    &::placeholder{
        text-align: left;
        color:$secondary-color;
        opacity: 1;
        font-family: "Prompt";
    }
}
label{
    padding:1.02rem;
    padding-left:0;
    border-bottom: 1px solid $secondary-color;
    clear:both;
    outline:none;
    margin:0;

}