@import "./global.scss";
@import "node_modules/material-icons/iconfont/round.css";
@import "./utill/button.scss";
:root{
    font-size:16px;
}
*,
*::before,
*::after {
    margin:0;
    padding: 0;
    box-sizing:border-box;
    color:inherit;
    transition : all 0.25 ease;
    font-family:"Montserrat","Prompt",sans-serif;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    overflow-x:hidden;
    overflow-y:scroll;
    background: linear-gradient(180deg, #333333 0%, #000000 0.01%);
}