<template>
  <div class="container">
    <div class="wrapper">
      <div class="section hero">
        <div class="content left">
          <div class="topic white">
            <h1>LOREM</h1>
          </div>
          <div class="topic green">
            <h1>IPSUM</h1>
          </div>
          <div class="description top">
            <p>
              Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply
            </p>
          </div>
          <div class="description bottom">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </p>
          </div>
        </div>
        <div class="content right">
          <img src="@/static/Bicycle-PNG-Image 1.png" />
        </div>
      </div>
      <div class="section swiper">
        <div class="navigation">
          <div class="nav prev">
            <icon-black>arrow_back</icon-black>
          </div>
          <div class="nav next">
            <icon-black>arrow_back</icon-black>
          </div>
        </div>
        <div class="header">
          <div class="heading white">
            <h2>LOREM IPSUM</h2>
          </div>
          <div class="heading green">
            <h2>LOREM</h2>
          </div>
        </div>
        <div class="image">
          <img src="@/static/Ellipse 10.png" />
        </div>
        <div class="title">
          <p>Lorem Ipsum is simply</p>
        </div>
        <div class="description">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
      <div class="section show-product">
        <div class="header">
          <h2>LOREM IPSUM</h2>
        </div>
        <div class="product-list">
          <div
            class="card"
            v-for="product in $store.state.products.products"
            :key="product.id"
          >
            <div class="card__image">
              <img :src="product.thumbnail" />
            </div>
            <div class="card__title">
              <p>{{ product.title }}</p>
              <div class="card__description">
                <p>{{ product.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section contact">
        <div class="content left">
          <img src="@/static/Bicycle-PNG-Image 1.png" />
        </div>
        <div class="content right">
          <div class="header__form">
            <h2>ติดต่อเรา</h2>
          </div>
          <form>
            <input name="name" placeholder="ชื่อ-นามสกุล" type="text" />
            <input name="tel" placeholder="เบอร์ติดต่อ" type="text" />
            <input name="email" placeholder="อีเมล" type="email" />
            <div class="form__date">
              <label for="date"><p>วันที่</p></label>
              <input name="date" type="date" value="วันที่"/>
            </div>
            <div class="form__text">
              <p>
              Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy te
            </p></div>
            <button class="button">LOREM</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "site",
  data() {
    return {};
  },
  async fetch() {
    try {
      this.$store.dispatch("fetchProduct");
    } catch (error) {
      alert(error);
    }
  },
};
</script>
<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Prompt:100,200,300,400,500,600,700&display=swap');
.container {
  height: max-content;
  width: max-content;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    .section {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 80vw;
      &.hero {
        width: 80vw;
        flex-direction: row;
        .content {
          display: flex;
          flex-direction: column;
          &.left {
            width: 50%;
            padding-left: 8%;
          }
          &.right {
            margin-right: 5%;
            display: flex;
            flex: 1;
          }
          .topic {
            margin-bottom: 1rem;
            width: max-content;
            h1 {
              text-shadow: 0px 4px 30px #21612f;
            }
            &.green {
              margin-bottom: 4rem;
              h1 {
                color: $accent-color;
                text-shadow: 0px 4px 30px #21612f;
              }
            }
          }
          .description {
            margin-bottom: 1rem;
            display: flex;
            width: 80%;
            &.top {
              p {
                font-weight: 600;
              }
            }
            &.bottom {
              p {
                font-weight: 400;
                color: darken($secondary-color, 10%);
              }
            }
          }
        }
      }
      &.swiper {
        width:100vw;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        position:relative;
        .navigation{
          inset:0;
          position:absolute;
          display:flex;
          align-items: center;
          .nav{
            position:inherit;
            padding:1rem;
            &.prev{
              left:0;
              background-color:darken($secondary-color,10%);
            }
            &.next{
              right:0;
              background: $accent-color;
              transform: rotate(180deg);
            }
          }
        }
        .header {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          margin-bottom: 2rem;
          .heading {
            &.green {
              h2 {
                color: $accent-color;
              }
            }
          }
        }
        .image {
          margin: 2rem;
        }
        .title {
          p {
            font-weight: 600;
            font-size: 26px;
          }
        }
        .description {
          display: flex;
          width: 50%;
          p {
            text-align: center;
          }
        }
      }
      &.show-product {
        min-height:100vh;
        height:max-content;
        background-color: $accent-color;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding-bottom: 3.5rem;
        .header {
           margin-bottom:4rem;
          h2 {
            color: $primary-color;
          }
        }
        .product-list {
          width: 80vw;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
          align-items: center;
          justify-content: center;
          gap: 1.5rem;
          .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.6);
            .card__image {
              width: 100%;
              aspect-ratio: 2/1;
              border-bottom: 1px solid black;
              img {
                width: 100%;
                height: 100%;
                border-radius: 4px 4px 0px 0px;
              }
            }
            .card__title {
              display: flex;
              flex-direction: column;
              width: 100%;
              aspect-ratio: 2/1;
              background-color: $secondary-color;
              border-radius: 0px 0px 4px 4px;
              padding: 10%;
              p {
                color: $primary-color;
                font-weight: 700;
                font-size: 26px;
              }
              .card__description {
                margin-top: 1rem;
                p {
                  font-size: 18px;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
      &.contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-family: "Prompt";
        .content {
          display: flex;
          &.right {
            flex-direction: column;
            height: 100%;
            justify-content: center;
            gap: 3rem;
            form {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              .form__date{
                display:flex;
                flex-direction: row;
                align-items: flex-end;
                width:100%;
                padding-bottom:2rem;
              }
              .form__text{
                width:60%;
              }
              button{
                margin-top:4rem;
              }
            }
          }
          &.left {
            display: flex;
            flex: 1;
          }
        }
      }
    }
  }
}
</style>
